.section-top{
    background-color: #F4BC08 ;
    color: #4A4A4A;
    font-weight: 400;
    padding: 60px 50px;
    display:flex;
    align-items: center;
    justify-content: center;
}



.section-top-container{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    max-width: 840px;
 
}

.section-top-container>h1{
    line-height: 1.3;
    font-size: 2.7rem;
    font-weight: 200;
}

.section-top-container>p{
    font-size:18px;
    
}

.section-top-container>button{
    width: 100%;
    max-width: 450px;
    padding:10px 50px;
    font-weight: 900;
    border-radius: 5px;
    font-size: 17px;
}