.menu{
    position: fixed;
    top:0;
    z-index: 2;
    width: 100%;

    /* transition-timing-function: ease-in;
    transition: all 1ss; */

    
}

.menuLogo{
    vertical-align: middle;
    border-style: none;
    
}
.menuContainer{
    padding-left: 25px !important;
}
.mr-auto{
    
    padding-left: 10px;
}